.form-box-m {
    border: 1px solid rgb(226, 224, 224);
    border-radius: 8px;
    width: 640px;
}

/* .form-box-input-form {
    border: 1px solid blue;
    height: 520px;
} */

.form-b-m {
    text-align: center;
    /* border: 1px solid black; */
    height: 520px;
}

.ct-m {
    padding-right: 50px;
}

.tt-m {
    padding-right: 50px;
}

.fu-m {
    padding-right: 58px;
}

.cc-m {
    height: 400px;
}